@import url('tabs.css');

:root {
  --background-h: 157;
  --background-s: 33%;
  --background-l: 90%;
  --background-color: hsl(var(--background-h), var(--background-s), var(--background-l));
  --text-color: hsl(0, 0%, 20%);

  --highlight-h: 43;
  --highlight-s: 90%;
  --highlight-l: 40%;
  --highlight-color: hsl(var(--highlight-h), var(--highlight-s), var(--highlight-l));
  --highlight-active-color: hsl(var(--highlight-h), var(--highlight-s), calc(var(--highlight-l) + 20%)); 


  --bar-background-h: 157;
  --bar-background-s: 33%;
  --bar-background-l: 30%;
  --bar-background-color: hsl(var(--bar-background-h), var(--bar-background-s), var(--bar-background-l));
  --bar-text-color: hsl(0, 0%, 93%);
  --bar-highlight-l: calc(var(--highlight-l) + 30%);

  --block-spacing: 1rem 2rem;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 1rem auto;
  width: max(20rem, min(40rem, 50vw));
}

h1 {
  color: var(--highlight-color);
}

a, a:link, a:visited {
  color: var(--highlight-color);
}

a[href]:hover, a:focus, a:active {
  background-color: var(--bar-background-color);
  outline: 0.25rem solid var(--bar-background-color);
  color: var(--highlight-active-color);
}

.SiteBar h1 a, a.button {
  text-decoration: none;
}

.button {
  align-items: center;
  border: solid 1px var(--highlight-color);
  border-radius: 0.25rem;
  display: inline-flex;
  padding: 0.5rem;
}

.SiteBar {
  background-color: var(--bar-background-color);
  color: var(--bar-text-color);
  display: flex;
  justify-content: space-between;
  padding: var(--block-spacing);
}

.SiteNav {
  align-items: center;
  display: flex;
  gap: 1rem;
}

header h1 {
  margin: 0;
}

.Icon {
  height: 1.5rem;
  margin: 0 0.5rem;
  width: 1.5rem;
}

.NotificationIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 0.25rem;
  width: 0.25rem;
}

label {
  display: block;
}